<h2>Here be a card</h2>

<p><%= @card.key  %></p>
<p><%= @card.name %></p>

<hr>

<%= image_tag url_for(@card.cropped) if @card.headshot.attached? %>

<hr>

<img src="<%= card_url(@card, format: :svg) %>">
