<h2>Here be a card</h2>

<p><%= @card.key  %></p>
<p><%= @card.name %></p>

<hr>

<%= image_tag @card.cropped, protocol: :https %>

<hr>

<img src="<%= card_url(@card, format: :svg, protocol: :https) %>">
